extends ../layout

block content
  h4 Crie uma app

  form.form-inline(method="post", action="/apps/new")
    input.form-control(type="text", placeholder="Nome", name="name")
    button(type="submit").btn.btn-success Criar

block js
  script.
    angular.module('app', []);
