extends ../layout

block content
  #apps
    header.clearfix
      .select.pull-left
        a(href="javascript:;", ng-click="open = !open", ng-class="{'active': open}") {{activeApp.name}}
          i.glyphicon.glyphicon-chevron-right
        ul.options(ng-show="open")
          li(ng-repeat="app in apps")
            a(href="javascript:;", ng-click="$parent.activeApp = app; $parent.open = false") {{app.name}}

      span.key.form-inline App ID:&nbsp;
        input(type="text", value="{{activeApp.key}}", disabled).form-control


    p(ng-show="!activeApp.requests") No requests sent to {{activeApp.name}} yet

    .row
      .col-sm-2.environments
        a(href="javascript:;", ng-repeat="(env, data) in activeApp.requests", active-env="{{env}}") {{env}}

      .col-sm-10.requests

        ul(ng-show="activeApp.requests")
          li.request(ng-repeat="(endpoint, requests) in activeApp.requests[activeEnv]", endpoint="{{activeEnv}}_{{endpoint}}")
            <h4>{{endpoint}}</h4>
            ul
              li(ng-repeat="r in requests | orderBy:'-date' | limitTo: 5 track by $index")
                span(ng-class="{'success': r.success, 'fail': !r.success}") &nbsp;
                span(time-ago="{{r.date}}") {{r.date | timeAgo}}



block js
  script.
    var module = angular.module('app');

    module.run(function ($rootScope, $http) {
      
    });
