doctype html
html(ng-app="app")
  head
    title Dashy
    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300', rel='stylesheet')
  body
    header
      a(href="/") Dashy

    main
      block content


    script(src="/js/jquery.js")
    script(src="/js/angular.js")
    block js