doctype html
html(ng-app="app")
  head
    title Dashy
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src="/js/jquery.js")
    block js
  body
    h1
      a(href="/") Dashy

    a(href="/applications/new") Create an Application

    block content
