doctype html
html(ng-app="app")
  head
    title Dashy
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/jquery.js")
    script(src="/javascripts/angular.js")
    script(src="/javascripts/parse.js")
    block js
  body
    h1
      a(href="/") Dashy

    block content
