extends ../layout

block content
  #apps
    header
      .row
        .col-sm-6
          .select
            a(href="javascript:;", ng-click="open = !open", ng-class="{'active': open}")
              {{activeApp.name}}
              i.glyphicon.glyphicon-chevron-right
            ul.options(ng-show="open")
              li(ng-repeat="app in apps")
                a(href="javascript:;", ng-click="$parent.activeApp = app; $parent.open = false") {{app.name}}

          p Key: {{activeApp.key}}


        .col-sm-6.text-right
          a.btn.btn-primary(href="/applications/new")
            i.glyphicon.glyphicon-heart
            | &nbsp;Create an App


      .envs
        a(href="javascript:;", ng-repeat="(env, data) in environments", active="{{env}}") {{env}}

    .content.clearfix
      ul(ng-show="environments")
        li.request(ng-repeat="(endpoint, requests) in environments[activeEnv]")
          <h4>{{endpoint}}</h4>
          ul
            li(ng-repeat="r in requests | orderBy:'-date' | limitTo: 5")
              span(ng-class="{'success': r.success, 'fail': !r.success}") &nbsp;
              {{r.date | timeAgo}}

      p(ng-show="!environments") No requests sent to {{activeApp.name}} yet


block js
  script.
    angular.module('app')
    .run(function ($rootScope) {
      $rootScope.apps = !{JSON.stringify(apps)};
      $rootScope.activeApp = $rootScope.apps[0];

      $rootScope.environments = $rootScope.apps[0].requests;
      $rootScope.activeEnv = Object.keys($rootScope.apps[0].requests)[0];
    });