extends ../layout

block content
  h4 Crie uma app

  form.form-inline(method="post", action="/applications/new")
    input.form-control(type="text", placeholder="Nome", name="application[name]")
    button(type="submit").btn.btn-success Criar
