extends ../layout

block content
  h4 Create an Application

  form.form-inline(method="post", action="/applications/new")
    input.form-control(type="text", placeholder="Name", name="application[name]")
    button(type="submit").btn.btn-success Create
