extends ../layout

block content
  .row
    .col-sm-6
      a(href="/apps/new") Nova App
    .col-sm-6
      form(ng-submit="createRequest(request)")
        div
          input(type="text", placeholder="Nome da app", ng-model="request.app_name")
        div
          label Status
          div
            label
              input(type="radio", value="1", ng-model="request.success")
              | &nbsp;Success
            |&nbsp;&nbsp;&nbsp;&nbsp;
            label
              input(type="radio", value="0", ng-model="request.success")
              | &nbsp;Error

        button.btn.btn-success.btn-sm(type="submit") Fazer requisição


  .row(ng-if="apps.length")
    .col-sm-2
      div(ng-repeat="app in apps")
        a.btn.btn-default(href="javascript:;") {{app.get('name')}}


    .col-sm-9
      .requests(ng-if="hasRequests")
        div(ng-repeat="r in requests")
          {{r.get('app_name')}} - {{r.get('success') ? 'Sucesso' : 'Erro'}}

      p(ng-if="!hasRequests") Nenhum requisição

  p(ng-if="!apps.length") Nenhuma App


block js
  script.
    Parse.initialize('DwLq3sNDDPLPLCLmM9aVu9PVvh7YA4xdPTsjQ99s', 'WtLhQgczgHeBNL0YP6d39F3gYfFoSX9VqRT5zJLB');
    var Request = Parse.Object.extend('Request');
    var Application = Parse.Object.extend('Application');
    var AppQuery = new Parse.Query(Application);
    var query = new Parse.Query(Request);


    angular.module('app', [])
    .run(function($rootScope) {
      $rootScope.requests = [];

      AppQuery.ascending('name').find().then(function(data) {
        $rootScope.apps = data;
        $rootScope.app = data[0];

        query
        .equalTo('application', data[0])
        .descending('createdAt')
        .find().then(function(data) {
          $rootScope.$apply(function() {
            $rootScope.requests = data;
            $rootScope.hasRequests = data.length > 0;
          });
        });
      });


      $rootScope.createRequest = function(data) {
        data.application = $rootScope.app;
        data.success = Boolean(parseInt(data.success));

        new Request().save(data).then(function(request) {
          $rootScope.$apply(function() {
            $rootScope.requests.push(request);
          });
        });
      };
    });