<p ng-show="!activeApp.requests">No requests sent to {{activeApp.name}} yet</p>
<div class="row" ng-show="activeApp.requests">
  <div class="col-sm-2 environments" ng-show="showGroupBar">
    <a ng-class="{active: selectedMetaKeyValue==key}" href="javascript:;" ng-repeat="(key, data) in groupedBySelectedMetaKey" ng-click="selectMetaKeyValue(key)">{{key}}</a>
  </div>
  <div class="col-sm-10 requests">
    <ul ng-show="groupedBySelectedMetaKey">
      <li class="request" ng-repeat="(name, data) in groupedBySelectedMetaKey[selectedMetaKeyValue]" service="{{activeApp.key}}_{{selectedMetaKeyValue}}_{{name}}">
        <h4>{{name}}</h4>
        <ul>
          <li ng-repeat="r in groupedBySelectedMetaKey[selectedMetaKeyValue][name] | orderBy:'-date' | limitTo: limitPerName track by $index">
            <span ng-class="{'success': r.success, 'fail': !r.success}" popover="{{r.meta}}">&nbsp;</span>
            <span time-ago="{{r.date}}">{{r.date | timeAgo}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
