<div id="apps" ng-controller="ListController as listCtrl">
  <header class="clearfix">
    <div class="select pull-left">
      <a href="javascript:;" ng-click="openClick()" ng-class="{'active': open}">{{activeApp.name}}
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
      <ul class="options" ng-show="open">
        <li ng-repeat="app in apps">
          <a href="javascript:;" ng-click="selectAppClick(app)">{{app.name}}</a>
        </li>
      </ul>
    </div>

    <span class="key form-inline">App ID:&nbsp;
      <input type="text" value="{{activeApp.key}}" disabled="disabled" class="form-control">
    </span>

    <label>Meta key:</label>
    <select ng-model="selectedMetaKey" ng-options="metaKey for metaKey in metaKeys" ng-change="selectMetaKeyOnChange()">
      <option value="">-- choose a key --</option>
    </select>
  </header>

  <dashy-group></dashy-group>
</div>
